:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --footer-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --secondary-button: #f5f4fa;
}

body {
  font-family: 'Roboto', serif;
  color: var(--title-text-color);
  background-color: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: 1px;
  padding: 0;

  white-space: nowape;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main-header {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

/* ----------------Header-------------------- */

.page-header .container {
  display: flex;
  align-items: center;
}

.page-header {
  border: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 25px 0px;
}

.logo {
  color: var(--accent-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.logo-span {
  color: var(--title-text-color);
}

.logo-width {
  color: var(--white-color);
}

.site-nav {
  display: flex;
  align-items: center;
}

.list .link {
  margin: 0 25px;
}

.nav-link {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: 50px;
  transition-property: var(--accent-color);
  position: relative;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  
}
.nav-link:hover,
.nav-link:focus{
  color: var(--accent-color);
}

.nav-link.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -33px;
  border-radius: 2px;
}

.current {
  color: var(--accent-color);
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-item + .auth-item {
  margin-left: 50px;
}

.auth-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: var(--accent-color);
}

.auth-link:hover,
.auth-link:focus{
  color: var(--accent-color);
}

.auth-item:hover,
.auth-item:focus {
  color: var(--accent-color);
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.auth-item:hover .mail-icon {
  fill: var(--accent-color);
}
.phone-icon {
  width: 10px;
  height: 16px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.auth-item:hover .phone-icon {
  fill: var(--accent-color);
}
/*--------  Hero ---------- */

.hero {
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/icon-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 200px 0;
  background-color: var(--footer-color);
  margin: 0 auto;
}

.hero-title {
  color: var(--white-color);
  font-weight: 900;
  width: 696px;
  margin: 0 auto;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  display: block;
  margin-top: 30px;
  margin: 30px auto 0 auto;
  font-family: inherit;
  color: var(--white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  border: 0;
  border-radius: 4px;
  padding: 10px 32px;
  letter-spacing: 0.06em;
}

/*---------Features------------*/

.svg-bg {
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transform: border-radius: 4px; 
}

.svg-bg:hover,
.svg-bg:focus {
  border: 1px solid var(--accent-color);
}
.icon-plate {
  width: 65px;
  height: 70px;
}

.features-list {
  display: flex;
}

.features-item {
  width: 270px;
  margin-right: 30px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}

/* ------------------Work--------------------- */

.work-section {
  padding-top: 0;
}

.work-item {
  margin-right: 30px;
  position: relative;
}
.paragraf-work {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-weight: 700;
  position: absolute;
  left: 0;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.work-list {
  display: flex;
  margin: auto;
  text-align: center;
  padding: 0;
}

.feacher-list .work-item {
  width: 370px;
  height: 294px;
}

.feacher-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.feacher-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* ----------------Team------------------- */

.team-section {
  background-color: var(--secondary-button);
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  display: flex;
  margin-right: 30px;
  justify-content: center;
}

.social-icon {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  justify-content: center;
  display: flex;
  align-items: center;
  border-bottom: 30px;
  color: #AFB1B8;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: background-color,color;
 

}

.social-icon:hover,
.social-icon:focus{
  background-color: var(--accent-color);
  color: var(--white-color);
}

.social-link {
  fill: currentColor;
}



.social-icon svg {
  width: 20px;
  height: 20px;
}

.social-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
 
}

.team:last-child {
  margin: 0;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.team-item:last-child {
  margin-right: 0;
}

.social-link {
  justify-content: center;
}

/* ----------------------Icon------------------------- */

.flex-container {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}


.icon-navigation{
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
 transition-property: border, color;
}

.icon-navigation:hover,
.icon-navigation:focus{
  border: 1px solid var(--accent-color);
  color:  var(--accent-color);
}

.icon-client {
  width: 106px;
  height: 60px;
  fill: currentColor;
}



/* ---------------Footer------------------ */
.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-sotial-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
}
.footer-social-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  }

.footer {
  background-color: var(--footer-color);
  padding: 60px 0 60px 0;
}

.footer .social-icon {
  background: rgba(255, 255, 255, 0.1);
}

.footer .social-icon:hover {
  background-color: var(--accent-color);
}

.footer .contact-list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.social-footer {
  fill: #ffffff;
}

.col-footer {
  margin-right: 70px;
}

.contact-list:hover {
  color: var(--white-color);
}

.contact-list:focus {
  color: var(--white-color);
}

.logo-link {
  color: var(--title-text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.addres-footer {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: var(--accent-color);
}

.mail-footer {
  color: var(--footer-contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 9px 0;
  display: inline-block;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: var(--accent-color);
}

.phone-footer {
  color: var(--footer-contacts-color);
  margin-top: 9px 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: var(--accent-color);
}

.footer ul a:hover,
.footer ul a:focus {
  color: var(--accent-color);
}


/* ------------------Modal------------------- */

.backdrop {
  position: fixed;
 opacity: 1;
 visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms  cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  /* opacity: 0;
  visibility: hidden; */
}

/* .backdrop.is-hidden .modal {
  transform: translate(-50% -50%) scale(0);
} */

.modal {
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  border-radius: 5px;
  padding: 40px;
  /* display: flex;
  /* flex-direction: column;
  justify-content: flex-start; */ 
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(92, 51, 51, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  /* position: absolute; */
}


.modal-btn-close{
  position: absolute;
  right: 8px; 
  top: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  background-size: 18px 18px;
 /* position: relative; */
  margin: -50px;
  margin-top: -45px;
  margin-right: -40px;
}
.modal-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-input {
  width: 100%;
  height: 50px;
  background-color: transparent;
  margin-bottom: 10px;
  padding-left: 45px;
  position: relative;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.modal-input:focus,
.modal-input:hover {
  border-color: var(--accent-color);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}
.modal-input:focus + .input-icon .modal-input:focus + :focus .modal-input ::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575b0;
}

.coment-input {
  width: 100%;
  height: 120px;
  left: 576px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-text-area {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
}
.modal-terms {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 20px;
}

.modal-btn {
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: #2196f3;
  border-radius: 4px;
  padding: 10px 55px;
  margin: 20px auto 0 auto;
  border: none;
  letter-spacing: 0.06em;
  outline: transparent;
}
.modal-btn:focus + .modal-open-btn {
  fill: var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 14px;
  top: 32px;
  width: 18px;
  height: 18px;
}

.modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
  outline: transparent;
}

.modal-label {
  padding-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-chekbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  padding: 0 10px;
}

.modal-chekbox .modal-terms {
  margin-top: 0;
  margin-left: 9px;
}

.check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.check-text {
  color: var(--accent-color);
  text-decoration: underline;
}

.online-input {
  width: 358px;
  height: 50px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.online-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  background-image: url(../images/icon\ send-svg.svg);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-bottom: 94px;
  margin-right: 215px;
}


.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}
.modal-control {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* -----------------Button---------------------- */

.site-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-right: 8px;
}
.site-button:hover,
.site-button:focus {
  border-bottom: 4px;
}
.secondary-button {
  background: var(--secondary-button);
  border-radius: 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  padding: 6px 22px;
  border: 0;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: background-color, color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}


.secondary-button:hover,
.secondary-button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------------Portfolio--------------------- */

.icon-element {
  width: 370px;
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.top-text {
  position: absolute;
  left: -1px;
  color: var(--secondary-button);
  background: rgba(33, 150, 243, 0.9);
  height: 0;
  display: block;
  bottom: 108px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 371px;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  
}
.icon-element:hover .top-text {
  height: 294px;
  padding: 63px 24px;
}

.prh {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work-element {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-transform: none;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.icon-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
}

.example-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.icon-element:hover,
.icon-element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
