@import './base/main-style';
@import './utils/vars';
@import './components/logo';
@import './components/nav';
@import './components/button';
@import './components/features-card';
@import './components/fonts';
@import './components/our-work-card';
@import './components/hero';
@import './components/team';
@import './components/social-icons';
@import './components/modal';
