.work__item {
  margin-right: 30px;
  position: relative;
  .work__item__paragraf {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    font-weight: 700;
    position: absolute;
    left: 0;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    bottom: 0;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
