.team-section {
  background-color: var(--secondary-button);
}

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  display: flex;
  margin-right: 30px;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.social-link {
  fill: currentColor;
}

.social-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team:last-child {
  margin: 0;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-top: 10px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team-item {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  //   margin-right: 30px;
  width: 100%;
  max-width: 354px;
}

.team-item:last-child {
  margin-right: 0;
}

.social-link {
  justify-content: center;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
  }
}
