body {
  font-family: 'Roboto', serif;
  color: var(--title-text-color);
  background-color: var(--white-color);
  font-size: 14px;
  letter-spacing: 0.03em;
}
* {
  outline: 1px solid red;
}
.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
  max-width: 1200px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding: 60px 0;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;

  .link {
    margin: 0 25px;
  }
}

.link {
  text-decoration: none;
}

// ----------------Header--------------------

.page-header {
  border: 1px solid #ececec;

  .container {
    display: flex;
    align-items: center;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  padding: 25px 0px;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  .auth-item:hover .mail-icon {
    fill: var(--accent-color);
  }
  .auth-item:hover .phone-icon {
    fill: var(--accent-color);
  }
  .auth-item + .auth-item {
    margin-left: 50px;
  }

  .auth-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    display: flex;
    align-items: center;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: var(--accent-color);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    .mail-icon {
      width: 16px;
      height: 12px;
      margin: 0 10px 0 0;
      fill: currentColor;
    }
    .phone-icon {
      width: 10px;
      height: 16px;
      margin: 0 10px 0 0;
      fill: currentColor;
    }
  }
}

// ------------unsorte-style--------------

.list .link {
  margin: 0 25px;
}

.auth-nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.auth-item + .auth-item {
  margin-left: 50px;
}

.auth-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: var(--accent-color);
}

.auth-link:hover,
.auth-link:focus {
  color: var(--accent-color);
}

.auth-item:hover,
.auth-item:focus {
  color: var(--accent-color);
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.auth-item:hover .mail-icon {
  fill: var(--accent-color);
}

.phone-icon {
  width: 10px;
  height: 16px;
  margin: 0 10px 0 0;
  fill: currentColor;
}

.auth-item:hover .phone-icon {
  fill: var(--accent-color);
}

/*--------  Hero ---------- */

/*---------Features------------*/

// .svg-bg {
//   background: #f5f4fa;
//   border-radius: 4px;
//   width: 270px;
//   height: 120px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin-bottom: 30px;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
//   transition-duration: 250ms;
//   border-radius: 4px;
// }

// .svg-bg:hover,
// .svg-bg:focus {
//   border: 1px solid var(--accent-color);
// }

.icon-plate {
  width: 65px;
  height: 70px;
}

// .features-item {
//   width: 270px;
//   margin-right: 30px;
// }

// .features-item:last-child {
//   margin-right: 0;
// }
// .features-title {
//   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 16px;
//   letter-spacing: 0.03em;
//   margin-bottom: 10px;
//   text-transform: uppercase;
//   color: var(--title-text-color);

// }
.features-text {
  line-height: 1.71;
  color: var(--primary-text-color);
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
/* ------------------Work--------------------- */

.work-section {
  padding-top: 0;
}

.work-item {
  // margin-right: 30px;
  position: relative;
}

.work-list {
  display: flex;
  margin: auto;
  text-align: center;
  padding: 0;
  flex-direction: column;
  gap: 30px;
}

.feacher-list .work-item {
  width: 370px;
  height: 294px;
}

.feacher-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.feacher-title {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

/* ----------------Team------------------- */

// .team-section {
//   background-color: var(--secondary-button);
// }

// .team-container {
//   padding-top: 30px;
//   padding-bottom: 30px;
// }

// .team {
//   display: flex;
//   margin-right: 30px;
//   justify-content: center;
// }

// .social-link {
//   fill: currentColor;
// }

// .social-wrap {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   gap: 10px;
//   margin-top: 16px;
// }

// .team:last-child {
//   margin: 0;
// }

// .team-title {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 19px;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--title-text-color);
// }

// .paragraph {
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 19px;
//   margin-top: 10px;
//   text-align: center;
//   letter-spacing: 0.03em;
//   color: var(--primary-text-color);
// }

// .team-item {
//   background: var(--white-color);
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 0px 0px 4px 4px;
//   margin-right: 30px;
// }

// .team-item:last-child {
//   margin-right: 0;
// }

// .social-link {
//   justify-content: center;
// }

/* ----------------------Icon------------------------- */

.flex-container {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.icon-navigation {
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  color: #afb1b8;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: border, color;
}
.company-card {
  width: calc(50% - 15px);
  max-width: 226px;
}
.icon-navigation:hover,
.icon-navigation:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.icon-client {
  width: 106px;
  max-width: 354px;
  height: 60px;
  fill: currentColor;
}

/* ---------------Footer------------------ */
.footer .container {
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-items: center;
  gap: 70px;
}

.footer-sotial-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}

.footer-social-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.footer {
  background-color: var(--footer-color);
  padding: 60px 0 60px 0;
}

.footer .social-icon {
  background: rgba(255, 255, 255, 0.1);
}

.footer .social-icon:hover {
  background-color: var(--accent-color);
}

.footer .contact-list {
  margin: 0;
  padding: 0;
  margin-top: 20px;
  font-style: normal;
}

.social-footer {
  fill: #ffffff;
}

.col-footer,
col {
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    margin: 0;
  }
}

.contact-list:hover {
  color: var(--white-color);
}

.contact-list:focus {
  color: var(--white-color);
}

.logo-link {
  color: var(--title-text-color);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.addres-footer {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: var(--accent-color);
}

.mail-footer {
  color: var(--footer-contacts-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 9px 0;
  display: inline-block;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: var(--accent-color);
}

.phone-footer {
  color: var(--footer-contacts-color);
  margin-top: 9px 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: var(--accent-color);
}

.footer ul a:hover,
.footer ul a:focus {
  color: var(--accent-color);
}

/* ------------------Modal------------------- */

/* -----------------Button---------------------- */

.site-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 8px;
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.87;
  margin-right: 8px;
}

.site-button:hover,
.site-button:focus {
  border-bottom: 4px;
}

/* ----------------Portfolio--------------------- */

.icon-element {
  width: 100%;
  max-width: 370px;
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  border-radius: 4px;
}

.top-text {
  position: absolute;
  left: -1px;
  color: var(--secondary-button);
  background: rgba(33, 150, 243, 0.9);
  height: 0;
  display: block;
  bottom: 108px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 371px;
  overflow: hidden;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.icon-element:hover .top-text {
  height: 294px;
  padding: 63px 24px;
}

.prh {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.work-element {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-transform: none;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.icon-work {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}

.example-content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.icon-element:hover,
.icon-element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.mail-input {
  width: 100%;
  max-width: 450px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  // margin-right: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.send-input {
  width: 200px;
  height: 50px;
  color: var(--white-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  letter-spacing: 0.06em;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  font-weight: 700;
}

.online-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.form-wrapper {
  // margin-left: auto;
  position: relative;
  width: 100%;
}

.icon-send {
  width: 24px;
  height: 24px;
  fill: var(--white-color);
  margin-left: 10px;
}

@media screen and (min-width: 480px) {
}

@media screen and (min-width: 768px) {
  .features-list {
    gap: 30px 0;
    justify-content: space-between;
  }

  .work-list {
    flex-direction: row;
  }
  .flex-container {
    display: flex;
    justify-content: flex-start;
  }
  .icon-element {
    width: 354px;
    gap: 30px;
  }
  .visually-hidden {
    justify-content: center;
  }
  .site-button {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
  .company-card {
    max-width: 170px;
  }
  .icon-element {
    width: 370px;
  }
}
